{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>
 Association Gymnique Chauvinoise
</h1>
<p>
    Bienvenue sur le nouveau site de l'AGC, ici vous trouverez toutes les informations relatives au club, les contacts ainsi que les dernières actus
</p>
<div id="news">
    <h2 id="news_section-title">Actualités</h2>
    <div class="news_article">
        <h3 class="news_article-title">News Article 1</h3>
        <div class="news_article-meta">
            <time datetime="news_article-date 04-05-2024">4 mai 2024</time>
            <time datetime="news_article-date 04-05-2024">Marjorie </time>
        </div>
        <div class="news_article-container">
            <p class="news_article-intro">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum blanditiis quas, inventore iusto, consectetur nam ducimus alias nobis explicabo ut adipisci iure deserunt consequuntur quia perspiciatis. Atque cumque iure, accusantium aut neque hic reiciendis asperiores fugiat ipsum incidunt eligendi dicta, omnis beatae? Vitae quis voluptatibus magnam possimus accusantium odit consectetur?</p>
        </div>
        
        
    </div>
</div>
{% endblock %}
